@font-face {
    font-family: 'Bojack';
    src: url('../src/images&fonts/font.woff2') format('woff2');
    font-style: normal;
}

* {
    font-family: 'Bojack';
    font-size: 1em;
}

body {
    margin: 0;
}

#header {  
    display: flex;
    justify-content: space-between;
    background-color: #393d4f;
    color: white;
    padding: 1em;
    position: sticky;
}

#links {
    display: flex;
    gap: 5vh;
    margin-left: 1em;
}

.links, #signin {
    padding: 0.5em;
}

#wafflesImg {
    position:fixed;
    width: 100%;
    height: 70%;
    object-fit: cover;
   object-position:50% 50%;
}

#div2 {
    position:fixed;
    z-index: 2;
    color: white;
    margin-top: 40vh;
    background-color: rgba(185, 47, 54, .87);

    padding: 1em;
    padding-left: 3em;
    width: 100%;

}

#title {
    padding: 0.3em 0; 
    font-size: 3.5em;
    line-height: .85;
    font-weight: bolder;
}

#ordernow {
    margin-top: 0.4em;
    padding: .7375em 3.75em .6125em;
    background-color: white;
    color: #431811;;
    border-color:transparent;
    border-radius: 1000px;
    cursor: pointer;
}

#ordernow:hover {
    background-color: #431811;
    color: white;
}